header{

  background-color: white;
  width: 100%;
  border-bottom-width: 5px;
  border-bottom: solid black;
  position: fixed;
  top: 0px;
  left: 0px;
  }

body {
  margin-top: 100px;
}

#allContent {
}

h1{
  font-family: font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  float:left;
}
h3{
  font-family: font-family: 'Merriweather', serif;
  font-size:10px;
  float:left;

}
h4{
  font-family:font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
}
h5{
  font-family: 'Yellowtail', cursive;
  font-size:12px;
}
h6{
  font-family: font-family: 'Varela Round', sans-serif;;
  font-size:9px;
}

.iconlist{
  display:inline;
  float:right;
}

.leftheader {
  float: left;
}

.recipehead {

}



#instructions{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:11px;
}
.procedure {
background-image: url("img/list-bg.png");
}


footer{
  position: fixed;
  border-top-width: 5px;
  border-bottom-style: double;
}






/*Delicious font*/
font-family: 'Yellowtail', cursive;
/*Chocolate Pizza*/
font-family: 'Fjalla One', sans-serif;
/*THE BEST FOOD BLOG ON WEB*/
font-family: 'Varela Round', sans-serif;
/*POSTED ON 15 DEC 2013 /DESSERTS */
font-family: 'Roboto Condensed', sans-serif;
/*procedure*/
font-family: 'PT Serif', serif;
/*ingredients*/
font-family: 'Cantarell', sans-serif;
/*Name*/
font-family: 'Merriweather', serif;
/*Share recipe*/
font-family: 'PT Sans Narrow', sans-serif;
/*All Rights Reserved*/
font-family: 'Lora', serif;
