
/*Delicious font*/
font-family: 'Yellowtail', cursive;
/*Chocolate Pizza*/
font-family: 'Fjalla One', sans-serif;
/*THE BEST FOOD BLOG ON WEB*/
font-family: 'Varela Round', sans-serif;
/*POSTED ON 15 DEC 2013 /DESSERTS */
font-family: 'Roboto Condensed', sans-serif;
/*procedure*/
font-family: 'PT Serif', serif;
/*ingredients*/
font-family: 'Cantarell', sans-serif;
/*Name*/
font-family: 'Merriweather', serif;
/*Share recipe*/
font-family: 'PT Sans Narrow', sans-serif;
/*All Rights Reserved*/
font-family: 'Lora', serif;
